<h1>会員詳細</h1>
<%= link_to "編集する", edit_admin_customer_path(@customer.id) %><br>

<label for="first_name">名</label>
    <%= @customer.first_name %><br>

  <label for="last_name">姓</label>
    <%= @customer.last_name %><br>

  <label for="first_name_kana">メイ</label>
    <%= @customer.first_name_kana %><br>

  <label for="last_name_kana">セイ</label>
    <%= @customer.last_name_kana %><br>

  <label for="postal_code">郵便番号</label>
    <%= @customer.postal_code %><br>

  <label for="address">住所</label><br>
    <%= @customer.address %>

  <label for="telephone_number">電話番号</label>
    <%= @customer.telephone_number %><br>

  <label for="email">メールアドレス</label>
    <%= @customer.email %><br>
