<h1>ショッピングカート</h1>
<table>
  <thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </thead>
  <tbody>
    <tr>
      <%= link_to "カートを空にする", cart_items_destroy_all_path(@cart_items), method: :delete %>
    </tr>
  <%  @cart_items.each do |cart_item| %>
    <tr>
      <tb><%= cart_item.item.name %></tb>
      <td><%= cart_item.item.with_tax_price %></td>
      <tb><%= cart_item.amount %></tb>
      <td><%= cart_item.subtotal %></td>
      <% @cart_items += cart_item.subtotal %>
      <%= link_to "削除する", cart_items_path(@cart_item), method: :delete %>
    </tr>
  <% end %>
  </tbody>
</table>
